<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base :: layout(~{::title}, ~{::content})}">
<head>
    <title>Events</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container event-container">
            <h1 class="section-title">Events</h1>

            <div th:if="${isAdmin}">
                <h3 class="form-title">Add New Event</h3>
                <form method="POST" th:action="@{/events/save}" class="form">
                    <label for="name">Event Name</label>
                    <input type="text" id="name" name="name" required><br>

                    <label for="date">Event Date</label>
                    <input type="date" id="date" name="date" required><br>
                    
                    <label for="location">Event Location</label>
                    <input type="text" id="location" name="location" required><br>
                    <label for="imgUrl">Event Image URL</label>
                    <input type="url" id="imgUrl" name="imgUrl"><br>
    
                    <button type="submit" class="btn submit-btn">Add Event</button>
                </form>
            </div>
    
            <h3 class="section-subtitle">Upcoming Events</h3>
            <ul class="event-list">
                <li th:each="event : ${events}" class="event-item">
                    <h3 class="event-title" th:text="${event.name}"></h3>
                    <p class="event-details"><strong>Date:</strong> <span th:text="${#temporals.format(event.date, 'dd MMM yyyy')}"></span></p>
                    <p class="event-details"><strong>Location:</strong> <span th:text="${event.location}"></span></p>
                    
                    <div th:if="${event.imgUrl}">
                        <div class="event-image">
                            <img th:src="${event.imgUrl}" alt="Event image" class="event-thumbnail">
                        </div>
                    </div>
    
                    <div th:unless="${isAdmin}">
                        <form method="POST" th:action="@{'/events/subscribe/' + ${event.id}}" style="display:inline;">
                            <button type="submit" class="btn event-btn">
                                Join Now
                            </button>
                        </form>
                    </div>
    
                    <div th:if="${isAdmin}">
                        <a th:href="@{'/events/edit/' + ${event.id}}" class="btn btn-primary">Edit</a>
                        <a th:href="@{'/events/delete/' + ${event.id}}" class="btn btn-danger">Delete</a>
                    </div>
                </li>
            </ul>
        </div>
    </div></body> </html> 