<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base :: layout(~{::title}, ~{::content})}">
<head>
    <title>Forgot Password</title>
</head>
<body>
    <div th:fragment="content">
        <div class="forgot-pswd-container">
            <h1 class="forgot-pswd-heading">Forgot Password</h1>
            <form th:action="@{/auth/forgot-password}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                
                <label class="forgot-pswd-input">Username:
                <input type="text" name="username" required></label><br>
                <button type="submit" class="forgot-pswd-btn">Request Password Reset</button>
            </form>
        </div>
    </div>
</body>
</html>